<div class="page login">
  <form [formGroup]="login" class="shadow-md p-3">
    <div class="form-group p-1 flex items-center gap-4 ">
      <label for="username">Email</label>
      <input type="email" formControlName="username" class="drop-shadow-sm grow p-1"/>
    </div>
    <div class="form-group p-1 flex items-center gap-4">
      <label for="password">Password</label>
      <input type="password" formControlName="password"  class="drop-shadow-sm grow p-1"/>
    </div>
    <div class="form-group p-1">
      <button class="ring-2 p-2 transition ease-in-out delay-50 hover:-translate-1 hover:scale-110  duration-300">Login</button>
    </div>
  </form>
</div>
